body {
    background-color:lightgray;
    font-family:Verdana, Tahoma, sans-serif;
}
* {
    box-sizing:border-box;
}
form {
    position:absolute;
    top:50%;
    left:50%;
    width:45%;
    transform:translate(-50%, -50%);
    background-color:white;
    padding:10px;
    border-radius:15px;
    border:2px solid blue;
}
form h1 {
    text-align:center;
    font-size:20px;
    background-color:lightgray;
    padding:10px;
    border-radius:5px;
    margin-bottom:35px;
}
.formContainer {
    margin:10px;
    font-size:15px;
    margin-bottom:25px;
}
.formContainer input {
    padding:10px;
    width:100%;
    border:2px solid blueviolet;
    border-radius:6px;
}
input[type=text]:hover {
    border:1px solid brown;
}


input[type=submit] {
    padding:10px;
    width:100%;
    border:2px solid green;
    background-color:green;
    border-radius:6px;
    color:white;
}
input[type=submit]:hover {
    background-color:darkgreen;
    cursor:pointer;
}

.success input {
   border-color:green
}
.error input {
    border-color:red;
}
.formContainer .error {
    color:red;
    height:5px;
    font-size:11px;
}